@import "./font.scss";

body {
  * {
    font-family: "ChosunGu";
  }
  font-family: "ChosunGu";
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  // background: #403a3a;
  // background: rgb(13, 83, 120);
  // background: #14303f;
  background-image: linear-gradient(
    to right top,
    #14303f,
    #344054,
    #545166,
    #736376,
    #907683
  );
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }

  .focus-in-expand {
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

a {
  text-decoration: none;
  &:link,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: inherit;
  }
}

.slide-top {
  -webkit-animation: slide-top 0.5s ease-out 0.6s both;
  animation: slide-top 0.5s ease-out 0.6s both;
}

ul {
  padding-inline-start: 0px;
}
ul,
ol {
  list-style: none;
}

main {
  // background: #403a3a;

  color: #242424;
}
.lang-con {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  p {
    margin: 0 1rem;
  }
}

.header-con {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  outline: double 0.5rem #fff;
  border-radius: 1rem;
  margin: 3rem auto 2rem;

  div {
    cursor: pointer;
    &:hover {
      font-weight: 800;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}

.dd {
  font-family: "EF_YOONY";
}

.set-lang-btn {
  display: flex;
  justify-content: space-around;
  min-width: 12rem;
  margin-left: auto;
  margin-right: auto;

  margin-top: 3rem;
  &.outline {
    // outline: double 1rem #252525;
    width: 100%;
    height: 50px;
  }

  button {
    background: transparent;
    padding: 0.3rem 0.5rem;
    width: 100%;
    height: 50px;
    border-radius: 0.65rem;
    cursor: pointer;
    outline: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;

    &:hover {
      background: #f0c66b;
      cursor: pointer;
    }
  }
}

nav {
  border: 1px solid;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #333;

  p {
    width: 100px;
    padding: 1rem;
    margin: 0 1rem;
    text-align: center;
  }
}

.main-top-con {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  h1,
  h4,
  p {
    margin-block-start: 0;
  }

  h1 {
    margin: 1rem auto;
    font-size: 2rem;
  }
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;

  &.path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.maincon {
  display: inline-grid;
  justify-content: space-between;
  grid-template-columns: 1fr 5fr;
  width: 100%;
  .main-swiper {
    width: 100%;
    margin: 0 auto;
  }
}

.nav-wrap {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #14303f;
  z-index: 99;
  padding: 0 3rem;
  position: relative;
  left: 0;
  top: 0;

  .pagi {
    display: grid;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0 0;

    .swiper-pagination-bullet {
      width: 100%;
      height: 100%;
      background: none;
      text-align: center;
      font-weight: 600;
      font-size: 1.3rem;

      h3 {
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: #f0c66b;
          font-weight: 700;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

.left-nav {
  display: grid;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  color: #fff;

  h3 {
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #f0c66b;
      font-weight: 700;
      transition: all 0.3s ease-in-out;
    }
  }
}

.main-center-con {
  // display: grid;
  // grid-template-rows: 1fr 2fr 1fr;
  // grid-template-columns: repeat(3, 1fr);
  //  border: 1px solid #cec8e9;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: auto;

  &.top-main {
    margin: 0;
    max-width: 100%;
    background: transparent;
  }

  .me {
    height: 100vh;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: center;
    .greeting {
      font-size: 2rem;
      display: grid;
      background: rgba(0, 0, 0, 0.3);
      color: #fff;
      grid-template-columns: 1fr auto;
      height: 95%;
      img {
        transform: scale(0.5);
        max-width: 400px;
        max-height: 400px;
      }
      p {
        font-size: 1rem;
        line-height: 1.8;
      }
      button {
        border: none;
        background: none;
        cursor: pointer;
        right: 0;
      }

      div.nextBtn {
        text-align: center;
        display: flex;
        align-items: center;
        &:before {
          /*     content: "d";
          position: absolute;
          width: 100%;
          background: #fff;
          height: 1px;
          left: 0;
          */
        }
      }
    }

    .desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .about-wrap {
        .aboutBox {
          display: grid;
          grid-template-columns: 1fr 2fr;
          align-items: center;
          h2 {
            text-align: center;
            margin-block-start: 0;
            margin-block-end: 0;
          }
          .about-desc-wrap {
            width: 100%;
            max-width: 50rem;
            line-height: 1.7;
          }
          .wrap {
            display: flex;
            align-items: center;
            flex-direction: column;
            .cirwrap {
              display: flex;
              width: 100%;
              max-width: 45rem;
              justify-content: space-evenly;
              margin: 1rem 0 0;
              .cir {
                width: auto;
                max-width: 200px;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 3rem;
                padding: 0rem 2rem;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }

    .plant {
      display: flex;
      justify-content: end;
      svg {
        width: 300px;
        height: 400px;
      }
    }
    .skill-con {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      font-size: 1rem;
      margin-top: 1rem;
      svg {
        margin: 0 1.5rem;
        width: 3rem;
        height: 3rem;
      }
    }
  }

  &.worklist-con {
    margin: 0 auto 0;
    padding: 2rem 0;
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    position: absolute;

    #worklist {
      padding-bottom: 2rem;
    }

    .add-slide-con {
      min-width: 20rem;
      display: block;
      width: 100%;
      margin: 0 auto;
      border-radius: 15px;

      .meta-slide-wrap {
        border-radius: 15px;
        .swiper-wrapper {
          align-items: center;
        }
        .swiper-button-prev,
        .swiper-button-next {
          color: orange;
          background: rgba(255, 255, 255, 0.6);
          padding: 0.4rem 1rem;
        }
      }
      img {
        width: 100%;
        margin: 0 auto;
      }

      .swiper-wrapper {
        img {
        }
      }
    }
  }

  div {
    //  border: 1px solid #cec8e9;
    //  display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   height: auto;

    &.stack-con {
      padding: 0;
      display: grid;
      svg {
        margin: 0 1rem;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-block-start: 0;
        padding: 1rem 0;
        li {
          font-size: 1.3rem;
          margin-block-start: 0;

          ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-block-start: 0;
            li {
              display: flex;
              justify-content: center;
              width: 100%;
              text-align: left;
              margin: 0.5rem auto;

              span {
                display: block;
                margin: auto;
              }
            }
          }
        }
      }
    }
  }
}

/**
  * Feeder
  *
  * @author jh3y - jheytompkins.com
*/
@-webkit-keyframes fed {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
  }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0) scale(2.5);
    transform: translateX(0) scale(2.5);
  }
  40%,
  60% {
    -webkit-transform: translateX(0) scale(1.5);
    transform: translateX(0) scale(1.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(500%);
    transform: translateX(500%);
  }
}
@keyframes fed {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
  }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0) scale(2.5);
    transform: translateX(0) scale(2.5);
  }
  40%,
  60% {
    -webkit-transform: translateX(0) scale(1.5);
    transform: translateX(0) scale(1.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(500%);
    transform: translateX(500%);
  }
}

@-webkit-keyframes feed {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(500%);
    transform: translateX(500%);
  }
}

@keyframes feed {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(500%);
    transform: translateX(500%);
  }
}

.feeder {
  height: 20px;
  position: relative;
  width: 20px;
}
.feeder div {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: fed;
  animation-name: fed;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-delay: calc(var(--delay) * 1s);
  animation-delay: calc(var(--delay) * 1s);
  background-color: var(--primary);
  border-radius: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
}
.feeder div:nth-child(2),
.feeder div:nth-child(3) {
  -webkit-animation-name: feed;
  animation-name: feed;
}
.feeder div:nth-child(2) {
  --delay: 0.25;
}
.feeder div:nth-child(3) {
  --delay: 0.5;
}

.burger {
  display: none;
}
@media screen and (max-width: 1940px) {
  .main-center-con {
    max-width: 1800px;

    &.top-main {
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  .preview-con {
    max-width: 1000px;
    border-radius: 10px;
    display: none;
  }
}

@media screen and (max-width: 1700px) {
  .main-center-con {
    .me {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1400px) {
  .main-center-con {
    &.top-main {
      //  max-width: 900px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .maincon {
    display: block;
    .nav-wrap {
      .left-nav {
        display: inline-flex;
        position: fixed;
      }
      .set-lang-btn {
        margin-top: 0;
        margin-right: 0.5rem;
      }
      .pagi {
        display: inline-flex;
        margin: 0;
        justify-content: start;
        .swiper-pagination-bullet {
          max-width: 5rem;
        }
      }
    }
    .nextBtn {
      margin: 0 auto;
      svg {
        max-width: 6rem !important;
        max-height: 6rem !important;
      }
    }
  }

  .main-center-con {
    &.top-main {
      //   max-width: 900px;
    }
    .me .greeting {
      height: 100%;
      grid-template-rows: 1fr;
    }
  }

  .focus-in-expand {
    display: flex;
    flex-direction: column;

    .plantimg {
      width: 5rem;
      margin: 0 auto;
    }
  }
  .nav-wrap {
    top: 0;
    height: auto;
    z-index: 9999;
    footer {
      svg {
        width: 2rem;
        height: 2rem;
        margin: 1rem 0.8rem;
        display: flex;
      }
    }
    .left-nav {
      flex-direction: row;
      top: 0;
      justify-content: end;
      width: 100%;
      left: 0;
      background: #333;
      z-index: 9999;

      h3 {
        margin: 0 1rem;
        padding: 1rem;
      }
    }
  }

  .main-center-con {
    .me {
      h1.greeting {
        font-size: 3.5rem;
        padding: 0 3rem;
      }
    }
  }

  .preview-con {
    max-width: 900px;
    margin-top: 3rem;
    display: none;
    .inner {
      display: grid;
      grid-template-columns: 2fr 3fr;
      width: 100%;
      margin: 2rem 0;
      border-radius: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .maincon {
    display: block;
    .nav-wrap {
      .left-nav {
        display: inline-flex;
        position: fixed;

        .no {
          display: block;
        }
      }
      .pagi {
        display: inline-flex;
        margin: 0;
        justify-content: start;
        .swiper-pagination-bullet {
          max-width: 5rem;
        }
      }
    }

    .main-center-con {
      .me {
        .greeting {
          grid-template-columns: 1fr;
          img {
            max-width: 10rem;
            max-height: 10rem;
            margin: 0 auto;
            display: block;
            transform: scale(1);
          }
        }

        .desc {
          .about-wrap {
            .aboutBox {
              display: block;
              margin-top: 5rem;
              .wrap {
                padding: 0 1rem;
              }
            }
          }
        }
      }
    }

    .nextBtn {
      margin: 0 auto;
      svg {
        max-width: 6rem !important;
        max-height: 6rem !important;
      }
    }
  }
  .works-con {
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    border: none;
    background: transparent;
  }

  .set-lang-btn {
    margin-right: 0.5rem;
    margin-top: 0;
  }

  .preview-con {
    max-width: 800px;
    display: none;
    .swiper-wrap {
      max-width: 400px;
    }
  }
}

@media screen and (max-width: 820px) {
  .works-con {
    grid-template-columns: repeat(2, 1fr);
  }

  .works-container {
    .tit {
      margin-top: 3.5rem;
    }
    .works-wrap {
      padding: 0 1rem;
      margin: 2rem auto;
    }
    .testCon {
      min-width: 15rem;
      width: 100%;
      padding: 1rem 0;
      min-height: 15rem;
      height: 100%;
    }
  }

  .preview-con {
    max-width: 700px;
    grid-template-columns: repeat(1, 1fr);
    //  display: grid;
    display: none;

    .inner {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 500px) {
  .focus-in-expand {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;

    .plantimg {
      width: 3rem;
      margin: 0 auto;
    }
  }

  .burger {
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    z-index: 999;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    width: 100%;

    left: -4rem;
    top: -5rem;
    background: transparent;
    border: none;
    outline: none;

    div {
      display: block;
      position: fixed;
      top: 1rem;
      height: 10rem;
      width: 10rem;
      z-index: 999;

      border-radius: 50%;
      background: #39f;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }

    &:before {
      content: "三";
      top: 6.5rem;
      color: #fff;
      text-align: center;
      left: 0;
      position: relative;
      font-size: 1.4rem;
      left: 6rem;
      z-index: 9999;
      transform: skewY(211deg) scale(2);
    }

    &.open {
      div {
        background: #ffff;
        &:before {
          content: "Done";
          top: 5.5rem;
          color: #39f;
          text-align: center;
          left: 1rem;
          position: relative;
          font-size: 1.4rem;
          font-weight: 700;
        }
      }
      &:before {
        content: "Choose the menu and language. ";
        top: 7rem;
        color: orange;
        text-align: center;
        left: 7rem;
        font-size: 1rem;
        position: absolute;
        width: 100%;
        transform: skewY(0) scale(1);
      }
    }
  }

  .nav-wrap {
    top: 0;
    height: auto;
    z-index: 9997;

    .left-nav {
      flex-direction: row;
      top: 0;
      justify-content: space-around;
      width: 100%;
      border: 0;
      left: 0;
      background: #333;
      z-index: 9999;

      .set-lang-btn {
        button {
          z-index: 9999;
          margin: 0 0rem;
        }
      }
    }
  }

  .main-center-con .me .greeting div.nextBtn {
    display: none;
  }

  .main-center-con {
    .me .plant svg {
      width: 150px;
      height: 200px;
    }
    .me {
      .skill-con {
        svg {
          margin: 0 0.5rem;
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
  .main-center-con .me {
    display: block;
    min-height: 100vh;
  }
  .main-center-con .me .desc {
    display: block;
    min-height: 100vh;
    overflow: hidden;
    .about-wrap .aboutBox {
      display: block;
    }
  }

  .testCon {
    margin: 2rem auto;
  }

  .works-con {
    max-width: 350px;
    display: block;
    padding: 0;
    border-radius: 0;
    margin: 2rem auto;
    background: transparent;
    border: none;

    .works {
      &.work-img {
        border: none;
      }
      .desc-on {
        max-width: 330px;
        h2 {
          text-align: center;
        }
        p {
          text-align: left;
          padding: 0 2rem;
        }
        .top-img-con {
          div {
            height: 300px;
            background-size: contain;
          }
        }
      }
    }
  }

  .preview-con {
    max-width: 300px;
    .inner {
      display: block;
      width: 100%;
      margin: 2rem 0;
      border-radius: 0;
    }

    .swiper-wrap {
      max-width: 300px;
      z-index: 8;
    }
  }
}

@media screen and (max-width: 500px) {
  .maincon {
    .hide {
      display: none;
    }

    .burger {
      position: absolute;
      top: 0;
      z-index: 99;
      background: transparent;
      border: none;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .nav-wrap {
      display: none;

      &.active {
        width: 100%;
        z-index: 2;
        .left-nav {
          display: flex;
          position: fixed;
          top: 0;
          left: 0;
          height: 100vh;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          align-items: center;

          .pagi {
            flex-direction: column;
          }

          .set-lang-btn {
            margin: 4rem auto 1rem;
          }
        }
      }
      .burger {
        display: block;
      }

      .no {
        display: none;
      }

      .burger-wrap .left-nav {
        display: none;
      }

      &.active {
        display: inline-flex;
        position: fixed;
      }
    }
  }

  .main-center-con {
    .me {
      .greeting {
        height: auto;
      }
      .desc {
        .about-wrap {
          .aboutBox {
            .about-desc-wrap {
              line-height: 1.8;
            }

            h2 {
              font-size: 1.7rem;
              margin-top: 2rem;
            }
          }
        }
      }
    }
  }

  .works-con {
    max-width: 300px;
  }

  .works-container {
    margin: 0;
    padding: 0;
    .works-wrap {
      padding: 0 1rem;
    }
    .testCon {
      min-width: 15rem;
      width: 100%;
      padding: 1rem 0;
      min-height: 15rem;
      height: 100%;
    }

    p {
      line-height: 1.65;
    }
  }
}

@media screen and (max-width: 400px) {
  .main-center-con {
    .me {
      .greeting {
        p {
          font-size: 1rem;
        }
      }

      .desc {
        .about-wrap {
          .aboutBox {
            .wrap {
              .cirwrap {
                .cir {
                  padding: 0 1rem;
                  width: 100%;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }

    &.worklist-con {
      .add-slide-con {
        min-width: 13rem;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  svg {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem 1rem;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-6-24 16:24:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */

.chk-position-nav {
  padding-left: 0.5rem;
  text-decoration: line-through;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    position: relative;
    animation-fill-mode: forwards;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);

    animation-fill-mode: forwards;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    position: relative;
    animation-fill-mode: forwards;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);

    animation-fill-mode: forwards;
  }
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
