@import "./font.scss";

body {
  font-family: "SUIT-Regular";
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  background: #68d89b;

  &::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
}

a {
  text-decoration: none;
  &:link,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: inherit;
  }
}

ul {
  padding-inline-start: 0px;
}
ul,
ol {
  list-style: none;
}

main {
  // background: #403a3a;
  background-image: linear-gradient(
    to bottom,
    #36312c,
    #35302b,
    #352f2b,
    #342e2a,
    #332d2a,
    #312b28,
    #2f2927,
    #2d2725,
    #292422,
    #25201e,
    #221d1b,
    #1e1a18
  );
  color: #fff;
}
.lang-con {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  p {
    margin: 0 1rem;
  }
}

.header-con {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  outline: double 0.5rem #fff;
  border-radius: 1rem;
  margin: 3rem auto 2rem;

  div {
    cursor: pointer;
    &:hover {
      font-weight: 800;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}

.dd {
  font-family: "EF_YOONY";
}

.set-lang-btn {
  display: flex;
  justify-content: space-around;
  width: 10rem;
  margin-left: auto;

  &.outline {
    outline: double 1rem #252525;
    width: 100%;
    height: 50px;
  }

  button {
    background: #fff;
    padding: 0.3rem 0.5rem;
    width: 100%;
    height: 50px;
    border-radius: 0.65rem;
  }
}

nav {
  border: 1px solid;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #333;

  p {
    width: 100px;
    padding: 1rem;
    margin: 0 1rem;
    text-align: center;
  }
}

.main-top-con {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  h1,
  h4,
  p {
    margin-block-start: 0;
  }

  h1 {
    margin: 1rem auto;
    font-size: 2rem;
  }
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;

  &.path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.nav-wrap {
  position: fixed;
  height: 100vh;
  align-items: center;
  display: flex;
}

.left-nav {
  position: fixed;
  border: 1px solid;
  left: 7rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.main-center-con {
  // display: grid;
  // grid-template-rows: 1fr 2fr 1fr;
  // grid-template-columns: repeat(3, 1fr);
  border: 1px solid #cec8e9;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  overflow: auto;

  .me {
    border: none;
    display: grid;
    height: 100vh;
    align-items: center;
    justify-content: center;
    h1.greeting {
      font-size: 5rem;
    }
  }

  div {
    border: 1px solid #cec8e9;
    //  display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   height: auto;

    &.stack-con {
      padding: 0;
      display: grid;
      svg {
        margin: 0 1rem;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-block-start: 0;
        padding: 1rem 0;
        li {
          font-size: 1.3rem;
          margin-block-start: 0;

          ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-block-start: 0;
            li {
              display: flex;
              justify-content: center;
              width: 100%;
              text-align: left;
              margin: 0.5rem auto;

              span {
                display: block;
                margin: auto;
              }
            }
          }
        }
      }
    }
  }

  svg {
    width: 3rem;
    height: 3rem;
  }
}
