@import "./styles/font.scss";

body {
  //font-family: "SUIT-Regular";
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
}

.concon {
  position: fixed;
  background: #333;
  width: 100%;
  height: 100vh;
  color: #fff;
}
a {
  text-decoration: none;
  &:link,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: inherit;
  }
}

ul {
  padding-inline-start: 0px;
}
ul,
ol {
  list-style: none;
}

main {
  // background: #403a3a;
  color: #fff;
}
.lang-con {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  p {
    margin: 0 1rem;
  }
}

.header-con {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  outline: double 0.5rem #fff;
  border-radius: 1rem;
  margin: 3rem auto 2rem;

  div {
    cursor: pointer;
    &:hover {
      font-weight: 800;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}

.dd {
  font-family: "EF_YOONY";
}

.set-lang-btn {
  display: flex;
  justify-content: space-around;
  width: 10rem;
  margin-left: auto;

  &.outline {
    outline: double 1rem #252525;
    width: 100%;
    height: 50px;
  }

  button {
    background: #fff;
    padding: 0.3rem 0.5rem;
    width: 100%;
    height: 50px;
    border-radius: 0.65rem;
  }
}

.main-top-con {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  h1,
  h4,
  p {
    margin-block-start: 0;
  }

  h1 {
    margin: 1rem auto;
    font-size: 2rem;
  }
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;

  &.path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.main-center-con {
  // display: grid;
  // grid-template-rows: 1fr 2fr 1fr;
  // grid-template-columns: repeat(3, 1fr);
  // border: 1px solid #cec8e9;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  .me {
    border: none;
    display: flex;
    h1.greeting {
      font-size: 5rem;
    }
  }

  div {
    // border: 1px solid #cec8e9;
    // display: flex;
    //  align-items: center;
    //  justify-content: center;
    //  height: 100%;

    &.stack-con {
      padding: 0;
      display: grid;
      svg {
        margin: 0 1rem;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-block-start: 0;
        padding: 1rem 0;
        li {
          font-size: 1.3rem;
          margin-block-start: 0;

          ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-block-start: 0;
            li {
              display: flex;
              justify-content: center;
              width: 100%;
              text-align: left;
              margin: 0.5rem auto;

              span {
                display: block;
                margin: auto;
              }
            }
          }
        }
      }
    }
  }
}

.designBg {
  width: 100%;
  height: 100%;
  &.bookr {
    background: url("/images/bookr_after.png") no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 1rem;
  }
  &.meta {
    background: url("./images/meta1.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 1rem;
  }
}

.preview-con {
  margin: 2rem auto 3rem;
  width: 100%;
  max-width: 1500px;
  display: none;

  .inner {
    display: inline-grid;
    justify-content: space-around;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    margin: 2rem 0;
    padding: 2rem 0;
    color: #333;
    background: #fff;
    border-radius: 15px;

    .desc-wrap {
      text-align: center;
    }
  }

  .swiper-wrap {
    max-width: 600px;
    align-self: center;
    justify-self: center;
    display: flex;

    .swiper-slide {
      display: flex;
      align-items: center;
    }
  }
  img {
    width: 100%;
  }
}

.works-con {
  border: 1px solid;
  display: grid;
  // grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem auto;
  gap: 1rem;
  margin: 2rem auto;
  width: 100%;
  max-width: 1400px;
  padding: 2rem 3rem;
  border-top-left-radius: 80px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 20px;
  background: #fff;
  //  background: #debc88;

  &.design-con {
    margin: 4rem auto 3rem;
  }
  &.app-con {
    margin-top: 3rem;
  }

  h2.tit {
    background: #f0c66b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
  }

  .layout-con {
    width: 100%;
    max-width: 1000px;
    img {
      width: 100%;
    }
  }

  .works {
    height: 100%;
    overflow: hidden;
    padding: 0rem 0;

    h4 {
      color: #fff;
    }

    .forCenter {
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(48, 36, 42, 0.7);
      width: 100vw;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
    }

    .desc {
      display: none;
    }

    .desc-on {
      display: flex;
      // background: rgba(48, 36, 42, 0.7);
      background: #fff;
      color: #252525;
      padding: 0.5rem;
      height: 100vh;
      // min-height: 200px;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
      align-self: center;
      border: 1px solid;
      max-width: 1000px;
      letter-spacing: 0.05rem;

      h2 {
        margin-bottom: 0.5rem;
      }
      p {
        margin-bottom: 0;
        line-height: 1.6;
        &:last-child {
        }
      }
      p.descText {
        max-width: 650px;
        margin-bottom: 2rem;
      }

      .top-img-con {
        width: 100%;
        div {
          width: 100%;
          height: 450px;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .swiper-con {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        &.layout-con {
          border: 2px solid rgb(13, 116, 153);
        }
        img {
          width: 100%;
        }
      }
      .layout-con {
        width: 100%;
        max-width: 1000px;
        img {
          width: 100%;
        }
      }
      .btn {
        border: 1px solid;
        width: 4rem;
        height: 2rem;
        padding: 0.5rem;
        text-align: center;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        transition: all 0.3s ease-in-out;
        &:hover {
          background: rgb(13, 116, 153);
          transition: all 0.3s ease-in-out;
          color: #fff;
        }
      }
    }
  }
}

.works {
  &.work-img {
    width: 100%;
    height: 100%;
    min-height: 20rem;
    position: relative;

    //@debugbackground: url('https://corydalis.github.io/pt/img/ss1.png') no-repeat;
    background-size: cover;
    background-position: center center;
    border: 3px solid #f0c66b;
    opacity: 1;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      transition: all 0.3s ease;
      border: 3px solid rgb(13, 116, 153);
    }
  }
}

.testCon {
  background-size: contain;
  background-position: 100%;
  background-repeat: no-repeat;
  min-height: 200px;
}

@media (max-width: 1024px) {
  .main-center-con {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-con {
    margin: 3rem auto 1.5rem;
    max-width: 500px;
    width: 100%;
    outline: double 0.5rem #252525;
    border-radius: 1rem;

    div {
      cursor: pointer;
      &:hover {
        font-weight: 800;
      }
    }
  }
}

@media (max-width: 500px) {
  .main-center-con,
  .works-con {
    grid-template-columns: repeat(1, 1fr);
  }

  .header-con {
    max-width: 300px;
  }

  .works {
    .forCenter {
      position: absolute;
      top: 0;
      left: 0;
      background: #333;
      width: 100vw;
      height: 100%;
      background: #333;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.works-container {
  margin: 0 2rem;
  padding: 0 2rem;
  .tit {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.3rem;
  }
  .works-wrap {
    display: grid;
    margin: 2rem;
    background: #fff;
    color: #333;
    border-radius: 20px;
    width: calc(100% - 2rem);
  }

  .testCon {
    min-height: 25rem;
    background-position: center center;
    // min-width: 20rem;
    // width: 34rem;
    width: 100%;
    margin: 0 auto;
  }

  .forCenter {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .desc-on {
    display: grid;
    width: 100%;
    text-align: center;
    a {
      width: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0;
      font-size: 1.2rem;
      margin: 1rem auto;
      background: #4db37d;
      box-shadow: 0px 8px 6px 0px rgba(186, 185, 185, 0.96);
      -webkit-box-shadow: 0px 8px 6px 0px rgba(186, 185, 185, 0.96);
      -moz-box-shadow: 0px 8px 6px 0px rgba(186, 185, 185, 0.96);
    }
  }

  .descText {
    padding: 0 2rem;
    max-width: 25rem;
    margin: 0 auto;
    text-align: left;
    line-height: 1.6;
  }
}
